.footerSection {
  :global {
    width: 100%;
    min-height: 380px;
    background-color: #EF6351;
    padding: 195px 0px 25px 0px;
    [data-theme = "dark"] &{
      background-color: #17191a;
    }

    h4 {
      margin-bottom: 25px;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      position: relative;

      @media (max-width: 991px) {
        font-size: 15px;
      }

      &::after {
        content: "";
        margin-top: 10px;
        width: 70px;
        height: 2px;
        background-color: #f7b18a;
        display: block;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        [data-theme = "dark"] &{
          background-color: rgba(44, 48, 52 , .95);
        }
        
      }
    }

    .footer-logo-img {
    
      width: 75px;
      height: 35px;
      @media (max-width: 1199px) {
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .footer-intro {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      margin: 25px 0px;
      line-height: 28px;
      width: 90%;

      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
      }
    }

    .socials {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 35px;

      @media (max-width: 991px) {
        justify-content: center;
        margin-bottom: 35px;
      }

      a {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 15px;
        [dir="ltr"] & {
          margin-right: 15px;
          margin-left: 0px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .help-list {
      position: relative;
      h4 {
        width: 60%;
        margin: 0px 20%;

        @media (max-width: 1200px) {
          margin: 0px 5%;
        }

        [dir = "ltr"] & {
          margin: 0px 10%;
        }
      }

      ul {
        width: 60%;
        margin: 0px 20%;
        [dir = "ltr"] & {
          margin: 0px 10%;
        }

        @media (max-width: 1200px) {
          margin: 0px 5%;
        }

        li {
          margin: 14px 0px;
          a {
            color: #fff;
            transition: .3s;
            &:hover{
                padding: 0px 5px;
                color: #d1cccc;
            }

            @media (max-width: 991px) {
              font-size: 12px;
            }
          }
        }
      }

      &::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
      }

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    .footer-contact {
      margin-right: 35px;
      margin-bottom: 35px;
      @media (max-width: 991px) {
        margin-right: 0px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;

          @media (max-width: 991px) {
            width: 100%;
            margin: 10px 0px;
          }

          a {
            display: block;
            margin: 10px 0px;
            color: #fff;
            @media (max-width: 991px) {
              font-size: 12px;
            }
          }

          p {
            color: #ffffff;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 17px;
            @media (max-width: 991px) {
              font-size: 14px;
            }
          }

          span {
            color: #fff;
            [dir = "ltr"] & {
              margin: 0px;
            }
            @media (max-width: 991px) {
              font-size: 12px;
              margin: 10px 0px;
            }
          }
        }
      }
    }

    .line {
      background-color: rgba(255, 255, 255, 0.3);
      height: 2px;
      width: 100%;
      margin: 35px 0px 25px 0px;
    }

    .rights-section {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .rights-info {
        display: flex;
        flex-wrap: nowrap;
        direction: ltr;
        color: #fff;
        @media (max-width: 991px) {
          order: 2;
          margin: auto;
          flex-wrap: wrap;
          justify-content: center;
        }

        p {
          margin: 5px 10px;
        }
      }

      .sponsors {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        @media (max-width: 991px) {
          order: 1;
          justify-content: center;
          width: 100%;
          margin-bottom: 25px;
        }

        .sponsor-logo {
          height: 26px;
          border-radius: 3px;
          margin: 0px 5px;
          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
