.brandSection {
  :global {
    margin: 100px 0px;

    .brands-container {
      display: block;
      @media (max-width: 767px) {
        display: none !important;
      }
    }

    .brands-mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }

      .brand-card{
        text-align: center;
      }
    }

    .section-title {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      h2 {
        color: #ef6351;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.9;
      }
    }

    .brands-container {
      display: flex;
      gap: 10px;
      .brand-card {
        width: calc((100% / 6) - 10px);
        height: 115px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          [data-theme="dark"] & {
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    .brands-slider {
      position: relative;
    }

    .silde {
      width: 100%;
      height: 180px;
      img {
        width: 100%;
        height: 180px;
      }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 999;
    }

    .swiper-button-next {
      left: 0%;
      background-image: url(../assets/images/left-arrow.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
    }

    .swiper-rtl .swiper-button-next:after {
      display: none;
    }

    .k-next,
    .k-prev {
      background-color: transparent;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(156, 6, 70, 0.05);
      border: 0px solid transparent;
      z-index: 99;
    }

    .k-next {
      position: absolute;
      right: -35px;
      top: 45%;
      [data-theme="dark"] & {
        background-color: #000;
        svg {
          filter: brightness(0) invert(1);
        }
      }

      @media (max-width: 549px) {
        right: 15px;
      }
    }

    .k-prev {
      position: absolute;
      left: -35px;
      top: 45%;
      [data-theme="dark"] & {
        background-color: #000;
        svg {
          filter: brightness(0) invert(1);
        }
      }

      @media (max-width: 549px) {
        left: 15px;
      }
    }

    .swiper-button-prev:after {
      display: none;
    }
  }
}
