.blogs {
  margin: 100px 0px;
  :global {
    .blogs-card {
      height: 465px;
      margin-bottom: 45px;
      
      .blogs-card-img {
        position: relative;
        height: 280px;
        width: 100%;
        border-radius: 12px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
        }

        .img-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
        }
      }

      .blog-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .blog-card-details {
          display: flex;
          direction: ltr;

          .writer,
          .blog-date {
            display: flex;
            margin-top: 15px;
            p {
              color: #aaa;
              font-size: 12px;
              font-weight: 400;
              margin: 0px 5px;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
          }
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          border: 1px solid #ef6351;
          background: #fff;
          padding: 15px 30px;
          color: #ef6351;
          font-size: 14px;
          font-weight: 400;
          min-width: 170px;
          [data-theme="dark"] & {
            background-color: transparent;
            color: #fff;
          }
        }

        .blog-title {
          color: #302f2e;
          font-size: 16px;
          font-weight: 400;
          margin: 15px auto;
          background-color: transparent;
          padding: 0px;
          border: none;
          width: 100%;
          height: auto;
          [data-theme="dark"] & {
            color: #fff;
            background-color: transparent;
          }
        }
      }
    }

    .nav-tabs {
      border: 0px solid transparent !important;
      justify-content: center;
      width: 100%;
      margin: auto;
      height: 125px;
      gap: 10px;
      align-items: center;
      border-radius: 3px;

      @media (max-width: 550px) {
        padding: 10px 0px;
        min-height: 50px !important;
        height: auto;
        gap: 15px;
      }

      .nav-item {
        border-radius: 12px;
        background: #f9f9fb;
        color: #302f2e;
        font-size: 14px;
        font-weight: 600;
        width: calc((100% - 70px) / 7);
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        [data-theme="dark"] & {
          background-color: #302f2e;
        }
      }

      .nav-link {
        border: 0px solid transparent !important;

        &:hover {
          border: 0px solid transparent !important;
        }

        &:active {
          border: 0px solid transparent !important;
        }

        color: #000;
        font-weight: 300;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .nav-item {
        button {
          background-color: transparent;
        }

        @media (max-width: 550px) {
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
